<a href="https://colab.research.google.com/github/pratikpanda-debug/ML-project/blob/master/ML_project(PRATIK).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#importing pandas to use the library functions

In [ ]:
df=pd.read_csv('data.csv')
#df contains the file information which is in csv format

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.shape
#gives the number of rows and coloumns of a dataframe in tuple format

In [ ]:
df['Market Category'].isnull().sum()
#drops the rows with NaN values for the specified indices

In [ ]:
df.dropna(subset=['MSRP'],how='any',inplace=True)
#drops the rows with NaN values for the specified indices

In [ ]:
df.shape

In [ ]:
df.drop(df[df['MSRP']==0].index,inplace=True)
#drops the rows with NaN values for the specified indices

In [ ]:
df.drop(['Market Category'],axis=1,inplace=True)
#dropping coloumns which are of less relevance

In [ ]:
df.shape

In [ ]:

df['Engine Fuel Type'].fillna(value='unknown',inplace=True)
df['Engine HP'].fillna(value='unknown', inplace=True)
df['Engine Cylinders'].fillna(value='unknown' ,inplace=True)
df['Number of Doors'].fillna(value='unknown',inplace=True)
#to fill the NaN values for the specified indices with "unknown"

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.describe()

In [ ]:

df.drop(df[(df['highway MPG'] >=50)].index, inplace=True)
df.drop(df[(df['city mpg'] >=50)].index, inplace=True)
df.drop(df[(df['Popularity'] <=500)].index, inplace=True)
#to remove outliers by dropping thr rows with values that are greater than 50 for 'highway MPG'and 'city mpg' values less than 500 for 'popularity'

In [ ]:
df.duplicated().sum()
#to get the number of duplicated rows

In [ ]:
df.drop_duplicates(keep=False,inplace=True)
#dropping the duplicate rows

In [ ]:
df.shape

In [ ]:
df= df.rename(columns = {'Engine HP':'HP','Engine Cylinders':'Cylinders','Transmission Type':'Transmission','Driven_Wheels':'Drive Mode','highway MPG':'MPG-H','city mpg':'MPG-C','MSRP':'Price'})
#renaming coloumns as per mentioned in the steps

In [ ]:
df.info()

In [ ]:
df